@font-face {
  font-family: "PretendardVariable";
  src: url("../font/PretendardVariable.woff2");
}

/*
@font-face {
  font-family: "HandFont";
  src: url("../font/hand-font.woff2");
}
*/

@font-face {
  font-family: "NEXON_Warhaven_OTF";
  src: url("../font/NEXON_Warhaven_OTF_Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "NEXON_Warhaven_OTF";
  src: url("../font/NEXON_Warhaven_OTF_Regular.otf");
  font-weight: normal;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
  margin-top: calc(env(safe-area-inset-top) + 15px);
  margin: 0px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
.MuiButton-root {
  background-color: #5d4431 !important;
}
*/
